/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
  }
  
  header a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  header p {
    margin: 0;
  }
  
  /* Feed styles */
  .feed {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .feed h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .sort-options {
    margin-bottom: 20px;
  }
  
  .sort-options label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .sort-options select {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  li:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  
  li h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333; /* Set the color of the post title */
  }
  
  li p {
    margin-bottom: 5px;
    color: #555; /* Set the color of the post content */
  }
  
  li p:last-child {
    margin-bottom: 10px;
  }
  
  li a {
    color: #333;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  li p.tags a {
    color: #555;
    text-decoration: none;
  }
  
  li p.tags a:hover {
    text-decoration: underline;
  }
  
  .comment-count {
    color: #888;
  }
  
  .vote-count {
    color: #888;
    font-weight: bold;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    background-color: #555; /* Darker background color */
    transition: transform 0.2s ease-in-out; /* Add transition for pop-up effect */
  }
  
  button.upvoted {
    background-color: #3d9e59; /* Darker background color for upvoted button */
    margin-right: 5px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  button.downvoted {
    background-color: #a84b41; /* Darker background color for downvoted button */
    margin-right: 5px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  button i {
    color: #fff;
  }
  
  button:hover {
    opacity: 0.8;
    transform: scale(1.1); /* Add pop-up effect on hover */
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .feed {
      padding: 10px;
    }
  
    li {
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  
    li h3 {
      font-size: 18px;
    }
  }
  