*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: verdana, arial, helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header{
    background: white; 
    position: fixed;
    top:0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.feed{
    position: relative;
    top: 50px;
    
}
.upvoted{
    color: red;
}
.downvoted{
    color: blue;
}